In [6]:
import tensorflow as tf
from tensorflow import keras 
import pandas as pd

2022-07-25 12:22:35.898173: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-07-25 12:22:35.898208: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

importing our dataset

In [3]:
data = pd.read_csv('Churn_Modelling.csv')

Randomizing data

In [4]:
from sklearn.utils import shuffle

In [5]:
data = shuffle(data)

In [6]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
2153,2154,15694200,Gardner,693,France,Male,36,8,178111.82,1,0,0,58719.63,1
8635,8636,15608701,Chialuka,651,Germany,Male,29,3,121890.06,1,1,0,54530.51,1
696,697,15727299,Edgar,445,Spain,Male,62,1,64119.38,1,1,1,76569.64,1
848,849,15646558,Clamp,611,Spain,Male,51,1,122874.74,1,1,1,149648.45,0
2320,2321,15775888,McDonald,593,Germany,Female,38,5,85626.60,1,1,1,125079.65,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5899,5900,15793901,Capon,639,France,Female,27,2,0.00,2,0,0,125244.18,0
3942,3943,15786167,Andreyeva,649,Spain,Male,20,5,0.00,2,1,1,58309.54,0
3740,3741,15777855,Manna,649,France,Male,45,7,0.00,2,0,1,75204.21,0
8704,8705,15777586,Moss,784,Spain,Female,42,2,109052.04,2,1,0,6409.55,0
5554,5555,15784218,Mason,620,Spain,Male,38,0,0.00,2,1,1,38015.34,0

Preprocessing our Data

In [7]:
from sklearn.preprocessing import StandardScaler as sc
from sklearn.preprocessing import LabelEncoder as le

1- Checking NULLs

In [8]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

Selecting features and labels

In [9]:
x = data.drop(labels=['CustomerId', 'Surname', 'RowNumber', 'Exited'], axis = 1)

In [10]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
2153,693,France,Male,36,8,178111.82,1,0,0,58719.63
8635,651,Germany,Male,29,3,121890.06,1,1,0,54530.51
696,445,Spain,Male,62,1,64119.38,1,1,1,76569.64
848,611,Spain,Male,51,1,122874.74,1,1,1,149648.45
2320,593,Germany,Female,38,5,85626.60,1,1,1,125079.65
...,...,...,...,...,...,...,...,...,...,...
5899,639,France,Female,27,2,0.00,2,0,0,125244.18
3942,649,Spain,Male,20,5,0.00,2,1,1,58309.54
3740,649,France,Male,45,7,0.00,2,0,1,75204.21
8704,784,Spain,Female,42,2,109052.04,2,1,0,6409.55
5554,620,Spain,Male,38,0,0.00,2,1,1,38015.34

In [11]:
y = data['Exited']

In [12]:
y

2153    1
8635    1
696     1
848     0
2320    0
       ..
5899    0
3942    0
3740    0
8704    0
5554    0
Name: Exited, Length: 10000, dtype: int64

we have here x as features and y as labels(targets)

In [13]:
y.shape

(10000,)

In [14]:
x.shape

(10000, 10)

Encoding Categorical Columns as neural nets can't be feed with non numerical data

In [15]:
x.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
dtype: object

In [16]:
le = le()

In [17]:
x['Geography'] = le.fit_transform(x['Geography'])
x['Gender'] = le.fit_transform(x['Gender'])

In [18]:
x['Geography']

2153    0
8635    1
696     2
848     2
2320    1
       ..
5899    0
3942    2
3740    0
8704    2
5554    2
Name: Geography, Length: 10000, dtype: int64

In [19]:
x['Gender']

2153    1
8635    1
696     1
848     1
2320    0
       ..
5899    0
3942    1
3740    1
8704    0
5554    1
Name: Gender, Length: 10000, dtype: int64

In [20]:
x = pd.get_dummies(x, drop_first=True, columns=['Geography'])

In [21]:
x

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_1,Geography_2
2153,693,1,36,8,178111.82,1,0,0,58719.63,0,0
8635,651,1,29,3,121890.06,1,1,0,54530.51,1,0
696,445,1,62,1,64119.38,1,1,1,76569.64,0,1
848,611,1,51,1,122874.74,1,1,1,149648.45,0,1
2320,593,0,38,5,85626.60,1,1,1,125079.65,1,0
...,...,...,...,...,...,...,...,...,...,...,...
5899,639,0,27,2,0.00,2,0,0,125244.18,0,0
3942,649,1,20,5,0.00,2,1,1,58309.54,0,1
3740,649,1,45,7,0.00,2,0,1,75204.21,0,0
8704,784,0,42,2,109052.04,2,1,0,6409.55,0,1
5554,620,1,38,0,0.00,2,1,1,38015.34,0,1

Scalling Numerical Values

In [22]:
sc = sc()

In [23]:
x = sc.fit_transform(x)

In [24]:
x

array([[ 0.43943998,  0.91241915, -0.27860412, ..., -0.71939357,
        -0.57873591, -0.57380915],
       [ 0.0048754 ,  0.91241915, -0.94607926, ..., -0.79223818,
         1.72790383, -0.57380915],
       [-2.1265604 ,  0.91241915,  2.20058924, ..., -0.40899973,
        -0.57873591,  1.74273971],
       ...,
       [-0.01581815,  0.91241915,  0.5795782 , ..., -0.43274319,
        -0.57873591, -0.57380915],
       [ 1.38099657, -1.09598752,  0.29351742, ..., -1.62901359,
        -0.57873591,  1.74273971],
       [-0.31587465,  0.91241915, -0.08789694, ..., -1.07942048,
        -0.57873591,  1.74273971]])

Train Test Split

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

Defining our ANN

In [27]:
x_train.shape[1]

11

In [28]:
model = keras.models.Sequential()

2022-07-24 18:55:46.921738: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2022-07-24 18:55:46.921792: W tensorflow/stream_executor/cuda/cuda_driver.cc:269] failed call to cuInit: UNKNOWN ERROR (303)
2022-07-24 18:55:46.921823: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (turing-HP-G62-Notebook-PC): /proc/driver/nvidia/version does not exist
2022-07-24 18:55:46.941781: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [29]:
model.add(keras.layers.Dense(128, activation = 'relu', input_dim = x_train.shape[1]))

In [30]:
model.add(keras.layers.Dense(64, activation = 'relu'))

In [31]:
model.add(keras.layers.Dense(32, activation = 'relu'))

In [32]:
model.add(keras.layers.Dense(1, activation = 'sigmoid'))

In [33]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 128)               1536

 dense_1 (Dense)             (None, 64)                8256

 dense_2 (Dense)             (None, 32)                2080

 dense_3 (Dense)             (None, 1)                 33

=================================================================
Total params: 11,905
Trainable params: 11,905
Non-trainable params: 0
_________________________________________________________________

In [34]:
model.compile(loss = 'binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [7]:
import datetime, os

In [8]:
logdir = os.path.join("log",datetime.datetime.now().strftime("%Y%m%d-%H%M%S"))

In [9]:
tensorboard_callback = tf.keras.callbacks.TensorBoard(logdir, histogram_freq = 1)

training our model

In [38]:
result = model.fit(x_train, y_train, batch_size = 32, epochs = 50, validation_data = (x_test, y_test), callbacks = [tensorboard_callback])

Epoch 1/50
219/219 [==============================] - 4s 7ms/step - loss: 0.4391 - accuracy: 0.8091 - val_loss: 0.3741 - val_accuracy: 0.8483
Epoch 2/50
219/219 [==============================] - 1s 4ms/step - loss: 0.3556 - accuracy: 0.8507 - val_loss: 0.3523 - val_accuracy: 0.8563
Epoch 3/50
219/219 [==============================] - 1s 4ms/step - loss: 0.3409 - accuracy: 0.8601 - val_loss: 0.3505 - val_accuracy: 0.8593
Epoch 4/50
219/219 [==============================] - 1s 3ms/step - loss: 0.3365 - accuracy: 0.8610 - val_loss: 0.3561 - val_accuracy: 0.8597
Epoch 5/50
219/219 [==============================] - 1s 4ms/step - loss: 0.3290 - accuracy: 0.8623 - val_loss: 0.3502 - val_accuracy: 0.8553
Epoch 6/50
219/219 [==============================] - 1s 3ms/step - loss: 0.3247 - accuracy: 0.8636 - val_loss: 0.3446 - val_accuracy: 0.8607
Epoch 7/50
219/219 [==============================] - 1s 3ms/step - loss: 0.3201 - accuracy: 0.8663 - val_loss: 0.3439 - val_accuracy: 0.8617
Epoch 8/50
219/219 [==============================] - 1s 4ms/step - loss: 0.3151 - accuracy: 0.8700 - val_loss: 0.3423 - val_accuracy: 0.8590
Epoch 9/50
219/219 [==============================] - 1s 4ms/step - loss: 0.3131 - accuracy: 0.8676 - val_loss: 0.3468 - val_accuracy: 0.8583
Epoch 10/50
219/219 [==============================] - 1s 3ms/step - loss: 0.3116 - accuracy: 0.8711 - val_loss: 0.3452 - val_accuracy: 0.8617
Epoch 11/50
219/219 [==============================] - 1s 3ms/step - loss: 0.3076 - accuracy: 0.8710 - val_loss: 0.3483 - val_accuracy: 0.8610
Epoch 12/50
219/219 [==============================] - 1s 3ms/step - loss: 0.3056 - accuracy: 0.8729 - val_loss: 0.3479 - val_accuracy: 0.8597
Epoch 13/50
219/219 [==============================] - 1s 3ms/step - loss: 0.3010 - accuracy: 0.8726 - val_loss: 0.3468 - val_accuracy: 0.8583
Epoch 14/50
219/219 [==============================] - 1s 3ms/step - loss: 0.2967 - accuracy: 0.8743 - val_loss: 0.3589 - val_accuracy: 0.8580
Epoch 15/50
219/219 [==============================] - 1s 3ms/step - loss: 0.2948 - accuracy: 0.8753 - val_loss: 0.3643 - val_accuracy: 0.8600
Epoch 16/50
219/219 [==============================] - 1s 3ms/step - loss: 0.2909 - accuracy: 0.8770 - val_loss: 0.3545 - val_accuracy: 0.8597
Epoch 17/50
219/219 [==============================] - 1s 3ms/step - loss: 0.2883 - accuracy: 0.8756 - val_loss: 0.3593 - val_accuracy: 0.8583
Epoch 18/50
219/219 [==============================] - 1s 3ms/step - loss: 0.2826 - accuracy: 0.8800 - val_loss: 0.3615 - val_accuracy: 0.8600
Epoch 19/50
219/219 [==============================] - 1s 3ms/step - loss: 0.2802 - accuracy: 0.8831 - val_loss: 0.3662 - val_accuracy: 0.8497
Epoch 20/50
219/219 [==============================] - 1s 4ms/step - loss: 0.2764 - accuracy: 0.8841 - val_loss: 0.3825 - val_accuracy: 0.8470
Epoch 21/50
219/219 [==============================] - 1s 3ms/step - loss: 0.2703 - accuracy: 0.8864 - val_loss: 0.3715 - val_accuracy: 0.8593
Epoch 22/50
219/219 [==============================] - 1s 3ms/step - loss: 0.2693 - accuracy: 0.8854 - val_loss: 0.3772 - val_accuracy: 0.8437
Epoch 23/50
219/219 [==============================] - 1s 3ms/step - loss: 0.2644 - accuracy: 0.8904 - val_loss: 0.3767 - val_accuracy: 0.8517
Epoch 24/50
219/219 [==============================] - 1s 3ms/step - loss: 0.2642 - accuracy: 0.8883 - val_loss: 0.3799 - val_accuracy: 0.8607
Epoch 25/50
219/219 [==============================] - 1s 4ms/step - loss: 0.2596 - accuracy: 0.8876 - val_loss: 0.3763 - val_accuracy: 0.8460
Epoch 26/50
219/219 [==============================] - 1s 3ms/step - loss: 0.2518 - accuracy: 0.8954 - val_loss: 0.3828 - val_accuracy: 0.8540
Epoch 27/50
219/219 [==============================] - 1s 4ms/step - loss: 0.2529 - accuracy: 0.8939 - val_loss: 0.3804 - val_accuracy: 0.8440
Epoch 28/50
219/219 [==============================] - 1s 4ms/step - loss: 0.2490 - accuracy: 0.8937 - val_loss: 0.4010 - val_accuracy: 0.8533
Epoch 29/50
219/219 [==============================] - 1s 3ms/step - loss: 0.2416 - accuracy: 0.8964 - val_loss: 0.3972 - val_accuracy: 0.8490
Epoch 30/50
219/219 [==============================] - 1s 4ms/step - loss: 0.2396 - accuracy: 0.9006 - val_loss: 0.4007 - val_accuracy: 0.8553
Epoch 31/50
219/219 [==============================] - 1s 3ms/step - loss: 0.2336 - accuracy: 0.9014 - val_loss: 0.4100 - val_accuracy: 0.8270
Epoch 32/50
219/219 [==============================] - 1s 3ms/step - loss: 0.2328 - accuracy: 0.9049 - val_loss: 0.4127 - val_accuracy: 0.8367
Epoch 33/50
219/219 [==============================] - 1s 3ms/step - loss: 0.2268 - accuracy: 0.9040 - val_loss: 0.4227 - val_accuracy: 0.8453
Epoch 34/50
219/219 [==============================] - 1s 3ms/step - loss: 0.2257 - accuracy: 0.9037 - val_loss: 0.4157 - val_accuracy: 0.8423
Epoch 35/50
219/219 [==============================] - 1s 4ms/step - loss: 0.2190 - accuracy: 0.9071 - val_loss: 0.4211 - val_accuracy: 0.8450
Epoch 36/50
219/219 [==============================] - 1s 4ms/step - loss: 0.2216 - accuracy: 0.9029 - val_loss: 0.4181 - val_accuracy: 0.8413
Epoch 37/50
219/219 [==============================] - 1s 3ms/step - loss: 0.2145 - accuracy: 0.9096 - val_loss: 0.4456 - val_accuracy: 0.8497
Epoch 38/50
219/219 [==============================] - 1s 3ms/step - loss: 0.2097 - accuracy: 0.9119 - val_loss: 0.4387 - val_accuracy: 0.8480
Epoch 39/50
219/219 [==============================] - 1s 3ms/step - loss: 0.2062 - accuracy: 0.9129 - val_loss: 0.4413 - val_accuracy: 0.8310
Epoch 40/50
219/219 [==============================] - 1s 3ms/step - loss: 0.2031 - accuracy: 0.9126 - val_loss: 0.4496 - val_accuracy: 0.8433
Epoch 41/50
219/219 [==============================] - 1s 3ms/step - loss: 0.2017 - accuracy: 0.9126 - val_loss: 0.4736 - val_accuracy: 0.8480
Epoch 42/50
219/219 [==============================] - 1s 3ms/step - loss: 0.1946 - accuracy: 0.9161 - val_loss: 0.4603 - val_accuracy: 0.8353
Epoch 43/50
219/219 [==============================] - 1s 3ms/step - loss: 0.1919 - accuracy: 0.9160 - val_loss: 0.4860 - val_accuracy: 0.8233
Epoch 44/50
219/219 [==============================] - 1s 3ms/step - loss: 0.1886 - accuracy: 0.9200 - val_loss: 0.4800 - val_accuracy: 0.8307
Epoch 45/50
219/219 [==============================] - 1s 3ms/step - loss: 0.1857 - accuracy: 0.9211 - val_loss: 0.4918 - val_accuracy: 0.8403
Epoch 46/50
219/219 [==============================] - 1s 3ms/step - loss: 0.1810 - accuracy: 0.9209 - val_loss: 0.5125 - val_accuracy: 0.8067
Epoch 47/50
219/219 [==============================] - 1s 3ms/step - loss: 0.1760 - accuracy: 0.9220 - val_loss: 0.4916 - val_accuracy: 0.8307
Epoch 48/50
219/219 [==============================] - 1s 4ms/step - loss: 0.1700 - accuracy: 0.9287 - val_loss: 0.5179 - val_accuracy: 0.8297
Epoch 49/50
219/219 [==============================] - 1s 4ms/step - loss: 0.1717 - accuracy: 0.9257 - val_loss: 0.5373 - val_accuracy: 0.8407
Epoch 50/50
219/219 [==============================] - 1s 3ms/step - loss: 0.1661 - accuracy: 0.9273 - val_loss: 0.5219 - val_accuracy: 0.8313

In [1]:
%load_ext tensorboard

In [2]:
%tensorboard --logdir log

In [41]:
predictions = model.predict(x_test)

In [42]:
import numpy as np

In [43]:
threshold = ((maxValue + minValue)/2)-(2*np.mean(predictions)+np.var(predictions))

NameError: name 'maxValue' is not defined

In [ ]:
threshold

In [ ]:
pred = np.where(predictions > 0.5,1,0)

In [ ]:
pred

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
cf = confusion_matrix(y_test, pred)

In [ ]:
cf

array([[2051,  323],
       [ 221,  405]])

In [ ]:
var = np.var(predictions)

In [ ]:
var

In [ ]:
maxValue = np.max(predictions)

In [ ]:
minValue = np.min(predictions)

In [ ]:
(maxValue + minValue)/2

In [ ]:
med = np.median(predictions)

In [ ]:
med